<div id="social-media">
	<a href="http://facebook.com/nexsense">&#xf082;</a> <a href="http://linkedin.com/company/nexsense-llc">&#xf08c;</a> <a href="http://twitter.com/nexsense">&#xf081;</a> <!--<a href="http://youtube.com/nexsense">&#xf166;</a>-->
</div>
<div id="footer">

	<a class="nav-link" href="http://blog.nexsense.com">Blog</a> | <a class="nav-link" href="contact">Contact us</a> | <a class="nav-link" href="referrals">Referrals</a> | <a class="nav-link" href="careers">Careers</a>

	<p id="legal">Use of this website implies the user’s agreement to the terms and use thereof.</p>
	<p id="copyright">&copy; 2013-2015 Nexsense, LLC.  All rights reserved.</p>

</div>