<div id="header-bar">

	<div id="header-container">
		<div id="menu-icon" ng-click="toggleMenu()"></div>
		<div id="header-logo" ng-click="$site.navigateTo('/home');"></div>
		<div id="header-nav" ng-show="getMenuIsDisplayed()">
			<div class="nav-link"><a class="nav-link" href="/affiliate">Affiliates</a> <div class="menu-indicator" ng-show="$site.pageName=='affiliates'"></div></div>
			<div class="nav-link"><a class="nav-link" href="/products">Products</a> <div class="menu-indicator" ng-show="$site.pageName=='products'"></div></div>
			<div class="nav-link"><a class="nav-link" href="/pricing">Pricing</a> <div class="menu-indicator" ng-show="$site.pageName=='pricing'"></div></div>
			<div class="nav-link"><a class="nav-link" href="/support">Support</a> <div class="menu-indicator" ng-show="$site.pageName=='support'"></div></div>
			<div class="nav-link"><a class="nav-link" href="/contact">Contact</a> <div class="menu-indicator" ng-show="$site.pageName=='contact'"></div></div>
		</div>
	</div>
	
</div>
<div id="header-divider-bar"></div>