<h3>Essential Duties and Responsibilities</h3>
<ul>
	<li>Must be comfortable interacting with customers over the phone.</li>
	<li>Help customers understand what we do and how our products work.</li>
	<li>Have open ears and an open heart for customer needs and concerns.</li>
	<li>Immediately connect with customers by greeting them in a courteous, friendly and professional manner.</li>
	<li>Communicate with officemates to grant customers’ wishes the right way and as quickly as possible.</li>
	<li>Other duties as assigned, including participating in our work hard, play hard culture.</li>
	<li>Report directly to the Call Center Manager.</li>
</ul>

<h3>Qualifications</h3>
<ul>
	<li>A college degree is helpful but not required. </li>
	<li>Good communication skills.</li>
	<li>Solid communication and interpersonal skills. </li>
	<li>Previous call center experience is preferred but not required. We will train the right person.</li>
	<li>Computer proficiency in Windows environment. </li>
	<li>Strong attention to detail, dependability and follow through.</li>
</ul>

<h3>Physical Demands</h3>
<ul>
	<li>Sitting for extended periods of time.</li>
	<li>Hearing, vision and speaking within normal ranges.</li>
	<li>No heavy lifting is expected. Exertion of up to 10 lbs. of force may occasionally be required.</li>
	<li>Good manual dexterity for the use of common office equipment such as computer terminals, calculator, copiers and FAX machines.</li>
</ul>

<h3>Work Environment</h3>
Our Customer Service Reps work indoors in a far-from-traditional office and call center environment. Activities include an occasional practical joke, chili cook off, or spur-of-the moment indoor golfing competition.