<h3>Essential Duties and Responsibilities</h3>
<ul>
	<li>Responsible for all hiring and firing within the Installation Department.</li>
	<li>Builds and trains teams of Technicians that tend to customers in surrounding areas, substantial travel time may be required in some instances.</li>
	<li>Manages installation and service 2GIG alarm authorized equipment in customers' homes and any equipment that Nexsense adds to their equipment list.</li>
	<li>Assures that Technicians work safely and responsibly to avoid injuries, damage to property, loss of unused materials as well as clean up installation debris.</li>
	<li>Maintain knowledge of stock levels for alarm installation equipment.</li>
	<li>Complete all necessary paperwork including: work orders, service orders, customer contracts, and time clock forms.</li>
	<li>Assist in promotion and sale of additional alarm equipment/services. (Compensation will be given to Installation Technicians for customer referrals and "UpSold" alarm equipment.)</li>
	<li>Responsible to oversee training and licensure for Installation Technicians. Manages continuing education for the department.</li>
</ul>

<h3>Qualifications</h3>
<ul>
	<li>High School diploma or equivalent.</li>
	<li>Previous Experience Managing installations as a Lead Technician or 2 successfully completed summer programs as an Installation Technician</li>
	<li>Valid driver's license and very clean driving record.</li>
	<li>Reliable, state registered, state inspected and insured transportation is a necessity.</li>
	<li>Must be available to work a schedule determined by need in areas of install.</li>
	<li>Ability to work varying schedules necessary to be considered for employment.</li>
	<li>Good communication skills and the ability to work well independently, as well as with other Installation Technicians and customers.</li>
</ul>

<h3>Physical Demands</h3>
As a Lead Technician you should be able to manage by example. Your job requires that you're able to stand on your feet for extended periods of time.  You also must be flexible enough to safely maneuver through shallow attics and crawl underneath homes to run phone and A/C wires.  While heavy lifting is not required for technicians, exertion of up to 40 lbs. of force occasionally may be required. 

<h3>Work Environment</h3>
This job will be performed on-site at customers' homes around the area. Installation Technicians will work out of their residence and dispatch to the necessary job locations. Installation Technicians are required to drive to and from various homes for installation and maintenance.  Nexsense promotes a work-hard play-hard culture and strives to hire Installation Technicians that fit that mentality.