<h3>Essential Duties and Responsibilities</h3>
<ul>
	<li>Assists in some human resource-related work including on-boarding paperwork, interviews, and managing New Employee Orientation.</li>
	<li>Coordinates with compliance department regarding solicitor permits. Helps Representatives complete applications and submits them to appropriate government agencies.</li>
	<li>Assists Sales Manager with sales incentives.</li>
	<li>Manages the front desk including greeting customers, interview candidates, and scheduling appointments.</li>
	<li>Answers phones and arranges travel accommodations when necessary</li>
	<li>Assists Corporate Office with Payroll procedures.</li>
	<li>Makes arrangements and assists with executive management meetings, conferences and interviews. Maintains conference room schedule.</li>
	<li>Handles ingoing and outgoing mail.</li>
	<li>Orders office supplies and manages inventory of supplies.</li>
	<li>Runs errands, orders and picks up company lunches.</li>
	<li>Duties or projects as required or as assigned.</li>
</ul>

<h3>Qualifications</h3>
<ul>
	<li>Must be proficient in Microsoft Word, Excel, Powerpoint and Outlook.</li>
	<li>At least 2 years previous demonstrated office experience in a similar role.</li>
	<li>Basic organizational skills are required for filing and collating paperwork.</li>
	<li>Access to personal car to run company errands.</li>
</ul>

<h3>Physical Demands</h3>
<ul>
	<li>Ability to withstand many different weather conditions.</li>
	<li>Hearing, vision and speaking within normal ranges.</li>
	<li>No heavy lifting is expected. Exertion of up to 10 lbs. of force occasionally may be required.</li>
	<li>Good manual dexterity for the use of common office equipment such as computer terminals, calculator, copiers, and FAX machines. </li>
</ul>

<h3>Work Environment</h3>
The job is performed indoors in a traditional office and call center setting. Activities include extended periods of sitting with an occasional practical joke. Must thrive in a work-hard play-hard culture.