<h3>Compensation</h3>
<ul>
	<li>$50k base salary plus commissions</li>
	<li>Awesome swag</li>
	<li>Flex Hours and work/life balance</li>
	<li>Rich Health plan with a variety of options including both traditional PPO's and HSA plans</li>
	<li>Innovative and casual environment</li>
	<li>Fun atmosphere</li>

</ul>

<h3>Essential Duties and Responsibilities</h3>
<ul>
	<li>Must love people and feel comfortable interacting with them on a personable level.</li>
	<li>Responsible for going door to door in order to educate customers and sell products and services.</li>
	<li>Help build a family environment by participating in team activities and recruiting events.</li>
	<li>Represent Nexsense with transparency and professionalism.</li>
	<li>Other duties as assigned, including participating in our work hard, play hard culture.</li>
	<li>Reports directly to the Outside Sales Director.</li>
</ul>

<h3>Qualifications</h3>
<ul>
	<li>A college degree is preferred but not required.</li>
	<li>Previous experience selling products door to door is preferred.</li>
	<li>Must have solid communication and interpersonal skills.</li>
	<li>Computer proficiency in Windows environment. </li>
	<li>Strong attention to detail, dependability and follow through.</li>
</ul>

<h3>Physical Demands</h3>
<ul>
	<li>Ability to withstand many different weather conditions.</li>
	<li>Hearing, vision and speaking within normal ranges.</li>
	<li>No heavy lifting is expected. Exertion of up to 10 lbs. of force occasionally may be required.</li>
	<li>Good manual dexterity for the use of common office equipment such as computer terminals, calculator, copiers, and FAX machines. </li>
</ul>

<h3>Work Environment</h3>
Our Outside Sales Managers work with their outdoor sales team going door to door in order to help promote peace of mind and happiness by creating a safer and simpler world.