<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui" />

        <script language="javascript" type="text/javascript" src="view/js/angular/angular.min.js"></script>
        <script language="javascript" type="text/javascript" src="view/js/common-2.0.js"></script>
        <script language="javascript" type="text/javascript" src="view/js/standard.js"></script>
        <link rel="stylesheet" type="text/css" href="view/css/standard.css" />

        <!-- Editable head -->

        <title>Contact Nexsense</title>
        <meta name="description" content="Nexsense home automation and security products give you the peace of mind you deserve.  Get a free home automation and security quote." />
        <meta name="keywords" content="Nexsense, home security, alarm system, home automation, home management, home control, smart home, contact us" />
        <script language="javascript" type="text/javascript" src="view/js/contact.js"></script>
        <link rel="stylesheet" type="text/css" href="view/css/contact.css" />

        <!-- END Editable head -->

    </head>
    <body ng-app="MySite">
        <div id="wrapper">
            <header></header>
            <!-- Body -->

                <div ng-controller="ContactPage">
                    <div class="sub-header">
                        <div>
                            <h1>Contact us</h1>
                            <p>Whatever your question is, we’re confident we can help.  Give us a shout.</p>
                        </div>
                    </div>

                    <section class="content">
                        <h2>Address</h2>
                        <p>
                            Nexsense Corporate Headquarters<br/>
                            722 E Technology Ave<br/>
                            Suite 1100, Building E<br/>
                            Orem, UT 84097<br/>
                            866-209-5200<br/>
                        </p>
                    </section>

                    <div class="divider"></div>

                    <section class="content">
                        <div class="columns">
                            <div class="column-third">
                                <h2>Billing</h2>
                                <p>
                                    billing@nexsense.com<br/>
                                    385-375-8150
                                </p>
                            </div>
                            <div class="column-third">
                                <h2>Sales</h2>
                                <p>
                                    sales@nexsense.com<br/>
                                    385-375-8120
                                </p>
                            </div>
                            <div class="column-third">
                                <h2>Customer service</h2>
                                <p>
                                    support@nexsense.com<br/>
                                    866-205-5200
                                </p>
                            </div>
                        </div>
                    </section>


                    <section class="content">
                        <h2>Send us a message</h2>
                        <p>We’d love to hear from you.  Fill out the form below and we’ll make sure your message gets sent to the right person.</p>

                        <form name="messageForm" onsubmit="return false;">
                            <div id="message-form">
                                <div>
                                    <input type="text" name="myname" ng-model="message.myname" ng-class="{warning:(messageForm.name.$invalid && (messageForm.name.$dirty || submitAttempted))}" placeholder="Name" required />
                                </div>
                                <div>
                                    <input type="text" name="email" ng-model="message.email" ng-pattern="validation.email" ng-class="{warning:(messageForm.email.$invalid && (messageForm.email.$dirty || submitAttempted))}" placeholder="Email" required />
                                </div>
<!--                                <div>
                                    <div class="footnote">Choose a department to contact</div>
                                    <select name="department" ng-model="message.department" required ng-options="d.email as d.name for d in departmentList" />
                                </div>
 -->
                                <div>
                                    <textarea name="message" ng-model="message.message" ng-class="{warning:(messageForm.message.$invalid && (messageForm.message.$dirty || submitAttempted))}" required placeholder="Message"></textarea>
                                </div>
                                <div class="button-container">
                                    <input type="button" value="Send" ng-show="!isSubmitting" ng-click="sendMessage()" />
                                    <div id="form-wait" ng-show="isSubmitting"></div>
                                </div>
                            </div>
                            <input type="text" name="age" style="display: none;" />
                        </form>
                    </section>
                </div>

            <!-- END Body -->
        </div>
        <footer></footer>
    </body>
</html>            