<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui" />

        <script language="javascript" type="text/javascript" src="view/js/angular/angular.min.js"></script>
        <script language="javascript" type="text/javascript" src="view/js/common-1.3.0.js"></script>
        <script language="javascript" type="text/javascript" src="view/js/standard.js"></script>
        <link rel="stylesheet" type="text/css" href="view/css/standard.css" />

        <!-- Editable head -->

        <title>Nexsense Home Security</title>
        <meta name="description" content="Nexsense home automation and security products give you the peace of mind you deserve.  Get a free home automation and security quote." />
        <meta name="keywords" content="Nexsense, home security, alarm system, home automation, home management, home control, smart home" />
        <script language="javascript" type="text/javascript" src="view/js/home-security.js"></script>
        <link rel="stylesheet" type="text/css" href="view/css/home-security.css" />

        <!-- END Editable head -->

    </head>
    <body ng-app="MySite">
        <div id="wrapper">
            <header></header>
            <!-- Body -->

                <div ng-controller="HomeSecurityPage">
                    <div class="sub-header">
                        <div>
                            <h1>Home Security</h1>
                            <p>Home security and intelligence that fits your home, family and life</p>
                        </div>
                    </div>

                    <section id="hero">
                    </section>

                    <section class="content">
                        <h2>Ready for next</h1>
                        <p>
                            No matter what life throws your way, you can be prepared with a Nexsense home security system.  With technology that watches your doors, windows, and smoke detectors, you can feel ready for whatever comes next.
                        </p>
                    </section>

                    <section id="home-illustration">
                        <h2>How does Nexsense protect your home?</h2>
                        <p>
                            So how does a home security system work?  With today's technology it's simple.  We install a touchscreen control panel that communicates with our monitoring station keeping you within a tap of help when you need it.
                            Then we install tiny, simple sensors on doors and windows that can tell the control panel when someone's coming or going.  If you're not home and something happens, we'll have your back.
                        </p>
                        <p>
                            Every system is built on these basic components.  You can add cameras, motion sensors, door locks and more to round out your complete security plan.
                        </p>

                        <div class="section-footer"><a href="products" class="button secondary">View products</a></div>
                    </section>


                    <section class="content">
                        <h2>Secured and automated</h2>
                        <p>
                            Once your home security system is in place you can create simple rules to automate your home.  For example, you can set the doors to lock and porch lights to turn on at 10pm every night.<!--  Easy peasy lemon squeezy.-->
                        </p>
                        <div id="button-container">
                            <a href="home-automation" class="button">Home automation</a>
                        </div>
                    </section>
<!--
                    <div class="divider"></div>

                    <section class="content">
                        <h2>Want to talk about it?</h2>
                        <p>
                            Give us a call.  We’d love to talk about our products and what's right for you.
                        </p>
                        <p class="phone-number">
                            385-375-8135
                        </p>
                    </section>
-->
                </div>

            <!-- END Body -->
        </div>
        <footer></footer>
    </body>
</html>            