<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui" />

        <script language="javascript" type="text/javascript" src="view/js/angular/angular.min.js"></script>
        <script language="javascript" type="text/javascript" src="view/js/common-1.3.0.js"></script>
        <script language="javascript" type="text/javascript" src="view/js/standard.js"></script>
        <link rel="stylesheet" type="text/css" href="view/css/standard.css" />

        <!-- Editable head -->

        <title>Nexsense Affiliate Partnership Program</title>
        <meta name="description" content="Nexsense home automation and security products give you the peace of mind you deserve.  Get a free home automation and security quote." />
        <meta name="keywords" content="Nexsense, home security, alarm system, home automation, home management, home control, smart home" />
        <script language="javascript" type="text/javascript" src="view/js/home.js"></script>
        <link rel="stylesheet" type="text/css" href="view/css/home.css" />

        <!-- END Editable head -->

    </head>
    <body ng-app="MySite">
        <div id="wrapper">
            <header></header>
            <!-- Body -->

                <div ng-controller="HomePage">
                    <section id="hero">
						<a id=uvhba_link href="http://www.uvhba.com">link</a>
                        <div>
                            <h1>Nexsense Affiliate Partnership Program</h1>
                            <p>Increase product value, ensure customer satisfaction, and strengthen employee loyalty</p>
                        </div>
                    </section>

                    <section class="content" id="nexsense-home">
                        <h2>Become a Nexsense Partner</h2>
                        <p>
                            A home security system from Nexsense is more than protection for your customer’s home -  it’s peace of mind.  Customize the home with cameras, temperature control and door locks and your customer can control all of it right from a smart phone.  No matter how you design it, a Nexsense home security system puts your customer in control.
                        </p>
                    </section>

                    <div class="divider"></div>

                    <section class="content">
                        <h2>More than affordable home security</h2>
                        <div id="feature-columns" class="columns">
                            <div class="column-third">
                                <div id="house-img"></div>
                                <h3>If you're a home builder</h3>
                                <p>
                                </p>
                                <!-- <p><a href="pricing" class="body">Pick your price</a></p> -->
                            </div>
                            <div class="column-third">
                                <div id="case-img"></div>
                                <h3>Insurance Partnerships</h3>
                                <p>
                                </p>
                                <!-- <p><a href="products" class="body">View products</a></p> -->
                            </div>
                            <div class="column-third">
                                <!-- <div id="phone-img"></div> -->
                                <div id="calc-img"></div>
                                <h3>Value-added benefit for employers</h3>
                                <p>
                                </p>
                                <!-- <p><a href="home-automation" class="body">Home automation</a></p> -->
                            </div>
                        </div>
                    </section>


                    <section class="content">
                        <h2>Join the Nexsense family</h2>
                        <p>
                            A Nexsense home security system is more than just protection for your house and home - it’s a connection to a family that’s dedicated to serving you.
                        </p>
                    </section>

                    <div id="family-photo"></div>

                    <div class="divider"></div>

                    <section class="content">
                        <h2>Want to talk about it?</h2>
                        <p>
                            Give us a call.  We’d love to talk about our products and what's right for you.
                        </p>
                        <p class="phone-number">
                            385-375-8135<br>
							<a href="mailto:b2b@nexsense.com" style="text-decoration:none;">b2b@nexsense.com</a>
                        </p>
                    </section>

                </div>

            <!-- END Body -->
        </div>
        <footer></footer>
    </body>
</html>