<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui" />

        <script language="javascript" type="text/javascript" src="/view/js/angular/angular.min.js"></script>
        <script language="javascript" type="text/javascript" src="/view/js/common-1.3.0.js"></script>
        <script language="javascript" type="text/javascript" src="/view/js/standard.js"></script>
        <link rel="stylesheet" type="text/css" href="/view/css/standard.css" />

        <!-- Editable head -->

        <title>Nexsense Home Security</title>
        <meta name="description" content="Work at Nexsense, a pioneer in customer-friendly home security services." />
        <meta name="keywords" content="Nexsense, home security, alarm system, home automation, home management, home control, smart home" />
        <script language="javascript" type="text/javascript" src="/view/js/product.js"></script>
        <link rel="stylesheet" type="text/css" href="/view/css/product.css" />

        <!-- END Editable head -->

    </head>
    <body ng-app="MySite">
        <div id="wrapper">
            <header></header>
            <!-- Body -->

                <div ng-controller="ProductPage">

                    <div class="sub-header"></div>

                    <section id="product-hero">
                        <div class="img" ng-style="{'background-image':'url(/view/images/products/{{productInfo.id}}.png)'}" />
                    </section>


                    <section class="content" id="product-name">
                        <h1>{{productInfo.name}}</h1>
                        <p>{{productInfo.shortDescription}}</p>
                    </section>

                   <section id="order-review">
                        <div class="bg-stripe">
                            <div class="shadow-box-container">
                                <div class="shadow-box">
                                    <div class="shadow-top"></div>

                                        <h2>Product Description</h2>
                                        <div class="product-desc" ng-bind-html="productInfo.description"></div>


                                    <div class="shadow-bottom"></div>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section class="content">
                        <h2>Pricing</h2>

                        <p ng-show="productInfo.points==0">
                            This device is automatically included with your home security system.  It's an integral part of your home security and doesn't cost anything extra.
                        </p>

                        <div class="columns" ng-show="productInfo.points>0">
                            <div class="column">
                                <h3>With new system</h3>
                                <div class="points">
                                    {{productInfo.points}}<sub ng-show="productInfo.points>1">pts</sub><sub ng-show="productInfo.points==1">pt</sub>
                                </div>
                                <p class="footnote">When you purchase a new home security system from Nexsense, we offer you 8 points of equipment that you can choose.  This device will use {{productInfo.points}} of those points.</p>
                            </div>
                            <div class="column">
                                <h3>Add to your system</h3>
                                <div class="points">
                                    ${{productInfo.price || dollars}}<sup>{{productInfo.price | cents}}</sup>
                                </div>
                                <p class="footnote">If you already have a security system and want to add to it, you can simply purchase the product and we’ll send a technician out to install it for you.</p>
                            </div>
                        </div>
                    </section>

                    <div class="divider"></div>

                    <section class="content">
                        <h2>Have questions about this product?</h2>
                        <p>
                            Give us a call.  We’d love to talk about our products and what's right for you.
                        </p>
                        <p class="phone-number">
                            866-205-5200
                        </p>
                    </section>

                </div>
                
            <!-- END Body -->
        </div>
        <footer></footer>
    </body>
</html>                    
